.table {
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
        font-weight: 12px;
    }

    tbody td:last-child,
    thead th:last-child {
        padding-right: 1.25rem;
    }

    tbody td:first-child,
    thead th:first-child {
        padding-left: 1.25rem;
    }

    .thead-light th {
        font-weight: 600;
        border: none;
        font-size: 13px;

        @include media-breakpoint-down(sm) {
            font-weight: 12px;
        }
    }

    td {
        vertical-align: middle;
        color: $gray-dark;

        &.title {
            font-weight: 600;
        }

        &.type {
            text-transform: uppercase;
        }

        &.description {
            font-size: 12px;
            line-height: 20px;

            @include media-breakpoint-down(md) {
                min-width: 350px;
            }
        }

        &.change-percentage-positive {
            color: $green;
        }

        &.change-percentage-negative {
            color: $red;
        }

        &.symbol-with-company-name {
            font-weight: 600;
            display: flex;
            flex-direction: column;

            @include media-breakpoint-down(md) {
                min-width: 200px;
            }

            span {
                display: flex;
                flex-direction: column;
            }

            small {
                font-size: 11px;
                color: grey;
                font-weight: 400;
            }

            &.clickable span:hover {
                cursor: pointer;
                text-decoration: underline;

                small {
                    text-decoration: underline;
                }
            }
        }

        a {
            color: $primary;
        }
    }
}

.table-empty {
    height: 200px;
    display: flex;
    justify-content: center;
    color: $gray;
    align-items: center;
}
