@charset "UTF-8";

.single-stock-link:hover {
    color: black!important;
}

.see-more {
    color:lightcoral!important;
}

@media( min-width: 1629px ) {
    .profile-greeting {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }
}