// Body
$body-bg: #F5F7FA;

// Colors
$blue: #2DB1FF;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$gray-dark: #3E4C59;
$gray: #7B8794;

// forms
$input-bg: #F5F7FA;
$input-border-color: #E4E7EB;

// card
$card-border-color: #E4E7EB;
$card-cap-bg: #FFF;

// brand Colors
$primary: #42B44A;

// table
$table-head-color: #3E4C59;
$table-border-color: #F5F7FA;
$table-head-bg: #F5F7FA;
